# Node
node_modules/
frontend/node_modules/

# Maven / Spring Boot
target/

# IDE
.idea/
.vscode/

# environment
.env
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local